.presentation {
  position: relative;
  height: 450px;
  display: flex;
  align-items: center;
  width: 100%;
}

.presentation h1 {
  font-size: 34px;
  font-weight: lighter;
}

.presentation img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.effet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-image: url("https://static.vinted.com/_next/static/media/tear.884480420945b3afd77b44a6c5f98567.svg");
  background-position: bottom -1px right -1px;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-image {
  width: 100vw;
  z-index: -2;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 30px 20px 30px 20px;
  width: 382px;
  height: 300px;
  border-radius: 5px;
  gap: 40px;
}

.offers {
  margin-top: 20px;
}
.offers .container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
