* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Maison Neue";
  position: relative;
}

.no-scroll {
  overflow: hidden;
}
.container {
  width: 1224px;
  margin: auto;
}

button {
  font-family: inherit;
  background-color: #2baeb7;
  padding: 10px;
  border-radius: 5px;
  border: solid #2baeb7 1px;
  color: white;
  text-align: center;
}
