* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Maison Neue";
  position: relative;
}

.no-scroll {
  overflow: hidden;
}
.container {
  width: 1224px;
  margin: auto;
}

button {
  font-family: inherit;
}
